<html><head><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script></head><body style="text-align: center">

<h2>Delete Room</h2><br />

<% var link = "/rooms/" + data._id; %>

<form method="DELETE" action=<%= link %> id="my_form">
    Title: <b><%= data.Title %></b><br /><br />
    Options: <b><%= data.Options %></b><br /><br />
    Address: <b><%= data.Address %></b><br /><br />
    Price: <b><%= data.Price %></b><br /><br />
    <input type="submit">
</form>

<h2><a href="/rooms">View Rooms List</a></h2>

<script type="text/javascript">
  $("#my_form").submit(function(event){
  	event.preventDefault(); //prevent default action
  	var post_url = $(this).attr("action"); //get form action url
  	var request_method = $(this).attr("method"); //get form GET/POST method
  	var form_data = $(this).serialize(); //Encode form elements for submission

  	$.ajax({
  		url : post_url,
  		type: request_method,
  		data : form_data
  	}).done(function(response){ //
  		$("#server-results").html(response);
      console.log(response);
      alert("Delete Successful");
  	});
  });
</script>

</body></html>
