<html>
  <head><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
  				input[type=text], select {
  				    width: 30%;
  				    padding: 12px 20px;
  				    margin: 8px 0;
  				    display: inline-block;
  				    border: 1px solid #ccc;
  				    border-radius: 4px;
  				    box-sizing: border-box;
  				}
  				input[type=submit] {
  				    width: 30%;
  				    background-color: #4CAF50;
  				    color: white;
  				    padding: 14px 20px;
  				    margin: 8px 0;
  				    border: none;
  				    border-radius: 4px;
  				    cursor: pointer;
  				}

  				input[type=submit]:hover {
  				    background-color: #45a049;
  				}
  	</style>
  </head>
  <body style="text-align: center">

<h2>Meal Details</h2><br />

<% var link = "/rooms/" + data._id; %>

<form method="PUT" action=<%= link %> id="my_form">
    Title: <br><input type="text" id="name" name="name" value=<%= data.name %> required ><br /><br />
    Options: <br><input type="text" id="items" name="items" value=<%= data.items %> required><br /><br />
    Address: <br><input type="text" id="quantity" name="quantity" value=<%= data.quantity %> required><br /><br />
    Price: <br><input type="text" id="price" name="price" value=<%= data.price %> required><br /><br />
    <input type="submit">
</form>

<h2><a href="/rooms">View Available Rooms</a></h2>

<script type="text/javascript">
  $("#my_form").submit(function(event){
  	event.preventDefault(); //prevent default action
  	var post_url = $(this).attr("action"); //get form action url
  	var request_method = $(this).attr("method"); //get form GET/POST method
  	var form_data = $(this).serialize(); //Encode form elements for submission

  	$.ajax({
  		url : post_url,
  		type: request_method,
  		data : form_data
  	}).done(function(response){ //
  		$("#server-results").html(response);
      console.log(response);
      alert("Update Successful");
  	});
  });
</script>

</body></html>
